
.small-caps {
  font-variant: small-caps;
}

.my_header {
  background-color: rgb(10, 25, 34) !important;
  /*background-color: #0075be !important;*/
  /*border-bottom: 9px solid #d8d8d8;*/
}

body {
  padding-top: 50px;
  /*background-image: url(/images/wrap.png);*/
}

h1 {
  font-size: 1.75em;
  margin: 0.67em 0;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*a {
  text-decoration-skip: ink;
}*/

.table-of-contents ul {
  padding-left: 20px;
}
