
.small-caps {
  /* font-variant: small-caps; */
}

.my_header {
  background-color: rgb(10, 25, 34) !important;
  /*background-color: #0075be !important;*/
  /*border-bottom: 9px solid #d8d8d8;*/
}

h1 {
  font-size: 1.75em;
  margin: 0.67em 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*a {
  text-decoration-skip: ink;
}*/

.table-of-contents ul {
  padding-left: 20px;
}

body {
  padding-top: 50px;
  /*background-image: url(/images/wrap.png);*/
  font-family: "PT Serif", serif;
  background: #ffffff;
  color: #333333;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: left;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
