{{ define "main" }}

  {{ .Content }}

  {{ $paginator := .Paginate (where .Pages "Section" (or .Section "it")) }}

  <div class="row mt-3">
    <div class="col-9 pl-0 pr-0">
      <div class="list-group">
        {{ range $paginator.Pages }}
          <div class="list-group-item flex-column align-items-start border-0">
            {{ partial "summary.html" . }}
          </div>
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}
    </div>

    <div class="col-3">
      {{ partial "panel-categories.html" . }}
    </div>

  </div>

{{end}}
