
{{ define "main" }}

  <div class="container">
    <article class="pt-3 pl-0 pr-0">
      <header>
        <div class="d-flex w-100 justify-content-between">
          <h3>{{ .Title }}</h2>
          <small class="text-muted">{{ .Date.Format $.Site.Params.DateFormat }}</small>
        </div>

        {{ partial "summary-author.html" . }}
        {{ partial "inline-categories.html" . }}
      </header>

      <hr>

      {{ partial "table-of-contents.html" . }}

      {{ .Content }}

    </article>
  </div>

  {{ $show_disqus := and (isset .Params "disqus") (eq .Params.disqus true) }}

  {{ if $show_disqus }}
    {{ partial "disqus.html" . }}
  {{ end }}

{{ end }}
